import type { Serverless } from 'serverless/aws';
import { baseServerlessConfiguration } from '../../serverless.base';

export const serverlessConfig: Serverless = {
  ...baseServerlessConfiguration,
  service: '<%= stack %>',
  provider: {
    ...baseServerlessConfiguration.provider,
  },
  functions: {
    <%= handler %>: {
      handler: 'src/<%= handler %>.handler.main',
    }
  }
};

module.exports = serverlessConfig
